/* ====================== */
/* Map */
/* ====================== */
.map {
  @extend .clearfix;
}

.wrap-map {
  position: relative;
}

/* ====================== */
/* GMap */
/* ====================== */

.wrap-gmap {
  height: 500px;
  overflow: hidden;
}
#gmap {
  width: 100%;
  height: 100%;

  img[src^='src/img/marker-1.svg']{
    @extend .marker-alert-anim;
    width: 50px !important;
    height: 50px !important;
  }

  img[src^='src/img/marker-2.svg'], img[src^='src/img/marker-3.svg']{
    @extend .marker-anim;
    width: 50px !important;
    height: 50px !important;
  }
}

/* ====================== */
/* GMap Infobulle */
/* ====================== */

.infobubble {
  padding: $space-3;
}

.infobubble-bg {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-site-1;
}

.title-infobubble {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.location-infobubble {
  margin: $space-1 0;
  font-weight: 300;
  font-size: 12px;
}

.time-infobubble {
  font-family: $font-2;
  font-size: 15px;
}

.link-infobubble {
  @extend .link;
  font-family: $font-2;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: underline;
  color: $color-text-3;

  &:before {
    background: $color-site-2;
  }

  &:hover {
    color: $color-text-1;
  }
}

/* ====================== */
/* GMap Hiding */
/* ====================== */

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* ====================== */
/* GMap Animation */
/* ====================== */

.marker-alert-anim {
  @include animation(marker-alert .75s infinite linear);
}

.marker-anim {
  width: 50px !important;
  height: 50px !important;
  @include animation(marker 4s infinite ease-in-out);
}

@include keyframes(marker-alert) {
  0%   { opacity: 0; @include transform(scale(0)) }
  20%   { opacity: 1; @include transform(scale(0.5)) }
  80%   { opacity: 1; @include transform(scale(0.9)) }
  100% { opacity: 0; @include transform(scale(1)) }
}

@include keyframes(marker) {
  0%   { @include transform(scale(0.7)) }
  50%   { @include transform(scale(0.9)) }
  100%   { @include transform(scale(0.7)) }
}
/* ====================== */
/* Controls */
/* ====================== */
.controls-map {
  position: absolute;
  top: 0;
  right: 0;
  width: $space-8;
  height: 100%;
  background: #1105fd;
}

.list-controls-map {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10em;
}

.link-control-map {
  z-index: 2;
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: $color-site-1;
  text-indent: -9999px;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  @include transition();

  &:hover {
    box-shadow: inset 10px 10px 0px 0px rgba(0, 0, 0, 0.2);
    &:after {
      @include transform(translate(-50%, -50%) scale(0.8));
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    background: url('../img/plus.png');
    @include transform(translate(-50%, -50%));
    @include transition();
  }

  &.zoom-in {
    &:after {
      background: url('../img/plus.png');
    }
  }

  &.zoom-out {
    &:after {
      background: url('../img/minus.png');
    }
  }
}

/* ====================== */
/* Legends */
/* ====================== */

.wrap-map-legend {
  background: $color-site-2;
}

.map-legend {
  @extend .center;
  @extend .clearfix;
}

.list-legend {
  display: inline-block;
  @extend .clearfix;
}

.item-legend {
  position: relative;
  float: left;
  padding: $space-5;

  &.legend-1 {
    &:before {
      @extend .marker-alert-anim;
      background: url('../img/marker-1.svg');
    }
  }

  &.legend-2 {
    &:before {
      background: url('../img/marker-2.svg');
    }
  }

  &.legend-3 {
    &:before {
      background: url('../img/marker-3.svg');
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: $space-5;
    left: 0;
    width: 33px;
    height: 33px;
  }
}

.text-legend {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 400;

  strong {
    display: block;
    font-weight: 700;
  }
}

.desc-legend {
  @extend .clearfix;
  float: right;
}

.bloc-desc-legend {
  float: left;
  padding: $space-4 0;
}

.title-desc-legend {
  padding-right: 20px;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;

  &:after {
    content: "-";
    padding-left: 15px;
  }
}

.text-desc-legend {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;

  strong {
    font-style: normal;
    font-family: $font-2;
    color: $color-text-2;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: $mq-5) {

  /* ====================== */
  /* GMap */
  /* ====================== */
  .wrap-gmap {
    height: 400px;
  }

  .wrap-map-legend {
    padding: 0 $space-5;
  }

  /* ====================== */
  /* Controls */
  /* ====================== */

  .controls-map {
    display: none;
  }

  /* ====================== */
  /* Legend */
  /* ====================== */

  .list-legend {
    display: block;
  }

  .desc-legend {
    float: none;
    padding-bottom: $space-5;
    margin: 0 auto;
  }

  .bloc-desc-legend {
    float: none;
    padding: 0;
    text-align: center;
  }

  .text-desc-legend {
    text-align: center;
  }

}

@media only screen and (max-width: $mq-3) {

  /* ====================== */
  /* Legend */
  /* ====================== */

  .wrap-map-legend {
    padding: $space-4;
  }

  .item-legend {
    padding: $space-1 $space-1 $space-1 $space-4;

    &:before {
      top: 1em;
      width: 25px;
      height: 25px;
    }
  }

  .text-legend {
    font-size: 12px;
  }

  .desc-legend {
    padding-bottom: 0;
    padding-top: $space-2;
  }

  .title-desc-legend {
    &:after {
      content: "";
    }
  }

}
