/* ====================== */
/* Social */
/* ====================== */
.wrap-social {
  position: relative;
}

/* ====================== */
/* Facebook */
/* ====================== */
.facebook {
  width: 40%;
}

.content-facebook {
  position: absolute;
}
