/* ==== Scroll down to find where to put your styles :) ==== */
/*  HTML5 ? Boilerplate  */
@import url(https://fonts.googleapis.com/css?family=Paytone+One);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-size: 0.750em;
  font-family: Arial, Helvetica, sans-serif;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

html {
  overflow-y: scroll;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

textarea {
  overflow: auto;
}

/*
.lt-ie7 legend, .lt-ie8 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.lt-ie8 input[type="checkbox"] { vertical-align: baseline; }
.lt-ie7 input { vertical-align: text-bottom; }
*/
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  box-shadow: none;
}

/*.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }*/
::-moz-selection {
  background: #004481;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #004481;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #004481;
}

button {
  width: auto;
  overflow: visible;
}

.lt-ie8 img {
  -ms-interpolation-mode: bicubic;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*a, a:active, a:visited { color: #0976d8; }
a:hover { color: #0976d8; }*/
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .list-col-center:before, .field:before, .header:before, .intro:before, .wrap-intro:before, .main-nav:before, .wrap-flap:before, .slider:before, .wrap-detail:before, .wrap-social:before, .clearfix:after, .list-col-center:after, .field:after, .header:after, .intro:after, .wrap-intro:after, .main-nav:after, .wrap-flap:after, .slider:after, .wrap-detail:after, .wrap-social:after {
  content: "";
  display: block;
}

.clearfix:after, .list-col-center:after, .field:after, .header:after, .intro:after, .wrap-intro:after, .main-nav:after, .wrap-flap:after, .slider:after, .wrap-detail:after, .wrap-social:after {
  clear: both;
}

.clearfix, .list-col-center, .field, .header, .intro, .wrap-intro, .main-nav, .wrap-flap, .slider, .wrap-detail, .wrap-social {
  zoom: 1;
}

/* ====================== */
/* mixins compass */
/* ====================== */
/* ====================== */
/* colors */
/* ====================== */
/*--- red ---*/
/*--- blue ---*/
/*--- white ---*/
/*--- red ---*/
/*--- blue ---*/
/*--- red ---*/
/*--- blue ---*/
/*--- dark grey ---*/
/*--- grey ---*/
/*--- very light grey ---*/
/*--- orange ---*/
/*--- light orange ---*/
/*--- white ---*/
/*--- black ---*/
/* ====================== */
/* font */
/* ====================== */
@font-face {
  font-family: 'National';
  src: url("../font/National-Bold.eot");
  src: url("../font/National-Bold.eot?#iefix") format("embedded-opentype"), url("../font/National-Bold.woff") format("woff"), url("../font/National-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-MediumItalic.eot");
  src: url("../font/National-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/National-MediumItalic.woff") format("woff"), url("../font/National-MediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-BoldItalic.eot");
  src: url("../font/National-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/National-BoldItalic.woff") format("woff"), url("../font/National-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-Regular.eot");
  src: url("../font/National-Regular.eot?#iefix") format("embedded-opentype"), url("../font/National-Regular.woff") format("woff"), url("../font/National-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-LightItalic.eot");
  src: url("../font/National-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/National-LightItalic.woff") format("woff"), url("../font/National-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-Light.eot");
  src: url("../font/National-Light.eot?#iefix") format("embedded-opentype"), url("../font/National-Light.woff") format("woff"), url("../font/National-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-ThinItalic.eot");
  src: url("../font/National-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/National-ThinItalic.woff") format("woff"), url("../font/National-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-BlackItalic.eot");
  src: url("../font/National-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/National-BlackItalic.woff") format("woff"), url("../font/National-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url("../font/National-Black.eot");
  src: url("../font/National-Black.eot?#iefix") format("embedded-opentype"), url("../font/National-Black.woff") format("woff"), url("../font/National-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* ====================== */
/* grid */
/* ====================== */
/* --- 400px --- */
/* --- 512px --- */
/* --- 608px --- */
/* --- 800px --- */
/* --- 928px --- */
/* --- 1216px --- */
/* --- 1360px --- */
/* ====================== */
/* common */
/* ====================== */
body {
  overflow: hidden;
  font-size: 0.625em;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

body,
select,
input,
textarea,
button {
  color: #ffffff;
  font-family: 'National';
  font-weight: 500;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p, a {
  font-size: 15px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

::-moz-selection {
  background: #fc2850;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fc2850;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: rgba(252, 40, 80, 0.2);
}

/* ====================== */
/* classes extend */
/* ====================== */
.overflow {
  overflow: hidden;
}

.center, .header, #footer, .intro, .wrap-flap, .wrap-pages, .wrap-social {
  margin: 0 auto;
  width: 1460px;
  max-width: 96%;
}

.link, .link-tool, .link-menu-item, .link-page, .read-more-article {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff;
}

.link:before, .link-tool:before, .link-menu-item:before, .link-page:before, .read-more-article:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fc2850;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.link:hover, .link-tool:hover, .link-menu-item:hover, .link-page:hover, .read-more-article:hover {
  text-shadow: none;
}

.link:hover:before, .link-tool:hover:before, .link-menu-item:hover:before, .link-page:hover:before, .read-more-article:hover:before {
  width: 100%;
}

.img, .media-facebook, .media-article, .meta-article {
  display: block;
  width: 100%;
  height: auto;
}

.list-col, .list-social {
  overflow: hidden;
  /* overflow clearfix */
  margin: -3em;
}

.item-col, .item-social {
  display: block;
  float: left;
  padding: 3em;
}

.list-col-center {
  margin: -1em;
  text-align: center;
  letter-spacing: -0.31em;
}

.item-col-center {
  float: none;
  display: inline-block;
  padding: 1em;
  letter-spacing: 0;
  vertical-align: top;
}

.collapsible {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.collapsible-open {
  overflow: visible;
  max-height: 1000em;
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

/* ====================== */
/* classes generales */
/* ====================== */
.full-width {
  width: 100% !important;
  height: auto;
}

.full-height {
  height: 100% !important;
  width: auto;
}

.faded {
  opacity: 0;
}

.table-scroll {
  overflow: auto;
}

/* ====================== */
/* ajax */
/* ====================== */
.loader-ajax {
  display: none;
  padding: 3em;
}

.text-loader-ajax {
  position: relative;
  padding-top: 64px;
  color: #fc2850;
  font-size: 1.5em;
  text-align: center;
}

.text-loader-ajax:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  background: url("../img/loader-ajax.gif") left top no-repeat;
}

/* ====================== */
/* classes projet */
/* ====================== */
.box-shadow, .bloc-cta-regular, .bloc-cta-slider, .bloc-cta-facebook, .bloc-cta-blog, .wrap-header, .wrap-intro, .bloc-subtitle-intro {
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
}

.box-shadow-min, .wrap-img-item, .deco-slider, .screen-slider, .details-slider, .wrap-content-article {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

/* ====================== */
/* form */
/* ====================== */
form {
  position: relative;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .75;
}

:-moz-placeholder {
  color: inherit;
  opacity: .75;
}

::-moz-placeholder {
  color: inherit;
  opacity: .75;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: .75;
}

::placeholder {
  color: inherit;
  opacity: .75;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

fieldset {
  margin: 0 0 1em;
}

.field {
  position: relative;
  margin: 0 0 1em;
}

label,
.label {
  display: block;
  padding: .5em 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="color"],
input[type="password"],
input[type="search"],
input[type="url"],
select,
textarea,
input[type="file"],
.input-text,
.input-date,
.input-file {
  position: relative;
  overflow: visible;
  padding: .5em 1em;
  width: 100%;
  border: 1px solid #5a5a5a;
  background: #fff;
  vertical-align: top;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="color"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
.input-text:focus,
.input-date:focus,
.input-file:focus {
  border-color: #f3f3f3;
}

input[type="text"].error,
input[type="email"].error,
input[type="tel"].error,
input[type="number"].error,
input[type="date"].error,
input[type="color"].error,
input[type="password"].error,
input[type="search"].error,
input[type="url"].error,
select.error,
textarea.error,
input[type="file"].error,
.input-text.error,
.input-date.error,
.input-file.error {
  border-color: #f8941e;
}

textarea {
  min-height: 15em;
  min-width: 100%;
  max-width: 100%;
}

.choice {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.choice label {
  display: inline-block;
  margin: 0 1em 0 0;
  width: auto;
  white-space: normal;
}

input[type="checkbox"],
input[type="radio"],
.input-checkbox,
.input-radio {
  display: inline-block;
  margin: .5em .5em .5em 0;
  vertical-align: top;
}

input[type="checkbox"]:hover, input[type="checkbox"]:focus,
input[type="radio"]:hover,
input[type="radio"]:focus,
.input-checkbox:hover,
.input-checkbox:focus,
.input-radio:hover,
.input-radio:focus {
  border-color: #acadaf;
}

.bloc-cta-regular, .bloc-cta-slider, .bloc-cta-facebook, .bloc-cta-blog {
  position: relative;
  display: inline-block;
  margin: 2em 0;
}

.bloc-cta-regular:before, .bloc-cta-slider:before, .bloc-cta-facebook:before, .bloc-cta-blog:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 80%;
  height: 100%;
  background: url("../img/tmp/background-btn.jpg");
}

.cta-regular, .cta-slider, .cta-facebook, .cta-blog,
button,
input[type="submit"],
.input-button,
.input-submit {
  overflow: visible;
  position: relative;
  display: block;
  padding: 1em 3em;
  border: 0;
  color: #ffffff;
  font-family: "Paytone One";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: none;
}

.cta-regular:after, .cta-slider:after, .cta-facebook:after, .cta-blog:after, .cta-regular:before, .cta-slider:before, .cta-facebook:before, .cta-blog:before,
button:after,
button:before,
input[type="submit"]:after,
input[type="submit"]:before,
.input-button:after,
.input-button:before,
.input-submit:after,
.input-submit:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cta-regular:before, .cta-slider:before, .cta-facebook:before, .cta-blog:before,
button:before,
input[type="submit"]:before,
.input-button:before,
.input-submit:before {
  background: #fc2850;
}

.cta-regular:after, .cta-slider:after, .cta-facebook:after, .cta-blog:after,
button:after,
input[type="submit"]:after,
.input-button:after,
.input-submit:after {
  background: #0500cc;
  width: 0%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.cta-regular:hover:after, .cta-slider:hover:after, .cta-facebook:hover:after, .cta-blog:hover:after, .cta-regular:focus:after, .cta-slider:focus:after, .cta-facebook:focus:after, .cta-blog:focus:after,
button:hover:after,
button:focus:after,
input[type="submit"]:hover:after,
input[type="submit"]:focus:after,
.input-button:hover:after,
.input-button:focus:after,
.input-submit:hover:after,
.input-submit:focus:after {
  width: 100%;
}

input[type="submit"],
button[type="submit"],
.input-submit {
  float: right;
  margin: 0 0 1em .5em;
  background-color: #fc2850;
  color: #fff;
}

.info-form,
.mention-form {
  margin-bottom: 1em;
  font-size: .857em;
}

.info-form {
  text-align: right;
}

.msg-form, .msg-form-error {
  padding: .5em 1em;
  margin-bottom: 1em;
  background: #0500cc;
  color: #fff;
}

.msg-form-error {
  border: 1px solid #f8941e;
  background: #f8c588;
  color: #f8941e;
}

/* ====================== */
/* form standard */
/* ====================== */
.form-standard {
  margin: 0 0 1em;
  color: #ffffff;
  font-size: 1.4em;
}

/* ====================== */
/* search */
/* ====================== */
.search .label {
  display: inline-block;
  padding: 0 10px;
  margin: 0 0 5px;
  background: #fc2850;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
}

.search input[type="text"],
.search .input-text {
  position: relative;
  display: block;
  margin: 0;
  padding: 7px 10px;
  width: 100%;
  border: none;
  border: 1px solid #5a5a5a;
  min-height: 15px;
  font-size: 1.1em;
}

.search input[type="submit"],
.search .input-submit {
  position: absolute;
  top: 5px;
  right: 4px;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border: 1px solid #fff;
  height: 20px;
  width: 22px;
  background: url("../images/sprite-1.png") no-repeat -85px 0 #fff;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3em;
  text-indent: -999em;
}

.search input[type="submit"]:hover,
.search .input-submit:hover {
  background-color: #fff;
  background-position: -85px -20px;
}

/* ====================== */
/* responsive */
/* ====================== */
/* ====================== */
/* Header */
/* ====================== */
.header {
  position: relative;
}

.wrap-header {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  height: 899px;
  background: #fc2850;
}

/* ====================== */
/* Logo */
/* ====================== */
.logo {
  display: inline-block;
  padding: 5em;
}

.title-logo {
  display: none;
}

.tools {
  float: right;
  padding: 8em;
}

/* ====================== */
/* Subscribe */
/* ====================== */
.item-tool {
  float: left;
}

.item-tool:last-child .link-tool:after {
  content: "";
}

.link-tool {
  margin-left: 1em;
  font-weight: 300;
}

.link-tool:before {
  background: #0500cc;
}

.link-tool:after {
  content: "/";
  position: absolute;
  top: 0;
  right: -0.75em;
}

.link-tool:hover {
  font-weight: 300;
}

/* ====================== */
/* Bloc Facebook */
/* ====================== */
.bloc-fb {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3em 2em;
}

.bloc-count-fb {
  position: relative;
  display: block;
  margin-bottom: 1em;
  text-align: center;
  border: 1px solid #0500cc;
}

.bloc-count-fb:after, .bloc-count-fb:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  border: solid transparent;
}

.bloc-count-fb:before {
  border-color: rgba(6, 0, 199, 0);
  border-top-color: #0500cc;
  border-width: 7px;
  margin-left: -7px;
}

.bloc-count-fb:after {
  border-color: rgba(253, 40, 79, 0);
  border-top-color: #fc2850;
  border-width: 6px;
  margin-left: -6px;
}

.count-fb {
  color: #0500cc;
  font-weight: 900;
}

/* ====================== */
/* footer */
/* ====================== */
/* ====================== */
/* nav footer */
/* ====================== */
/* ====================== */
/* responsive */
/* ====================== */
/* ====================== */
/* tool */
/* ====================== */
/* ====================== */
/* pager */
/* ====================== */
/* ====================== */
/* block-notice */
/* ====================== */
/* ====================== */
/* responsive */
/* ====================== */
/* ====================== */
/* Intro */
/* ====================== */
.intro {
  z-index: 1;
  position: static;
  margin-top: 6em;
  background: #0500cc;
}

.intro .logo-deco {
  z-index: 20;
  position: absolute;
  top: 15em;
  left: calc(50% + 50em);
  display: block;
}

.intro .shape-deco {
  z-index: 20;
  position: absolute;
  top: 60em;
  left: 30em;
  display: block;
}

.wrap-intro {
  position: relative;
  padding: 1em 13em;
}

/* ====================== */
/* Navigation */
/* ====================== */
.menu-item {
  float: left;
  padding: 4em 8em 4em 0;
}

/* ====================== */
/* Bloc video */
/* ====================== */
.bloc-video-intro {
  z-index: 10;
  position: relative;
  width: 100%;
}

.content-video-intro {
  margin-top: -50px;
}

.video-intro {
  width: 90%;
  height: auto;
}

.bloc-title-video-intro {
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.title-video-intro {
  display: block;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 4px;
}

.bloc-frame-video-intro {
  z-index: 31;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

.frame-video-intro {
  display: inline-block;
}

.bloc-shape-video-intro {
  mix-blend-mode: overlay;
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 60%;
  text-align: center;
  background: #fc2850;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bloc-shape-video-intro:before, .bloc-shape-video-intro:after {
  content: "";
  position: absolute;
  top: 0;
  width: 2.5em;
  height: 100%;
  background: #fc2850;
}

.bloc-shape-video-intro:before {
  left: 0;
}

.bloc-shape-video-intro:after {
  right: 0;
}

.shape-video-intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape-video-intro:before, .shape-video-intro:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.5em;
  background: #fc2850;
}

.shape-video-intro:before {
  top: 0;
}

.shape-video-intro:after {
  bottom: 0;
}

.bloc-desc-intro {
  padding: 4em 0;
}

.desc-intro {
  font-weight: 300;
  text-transform: uppercase;
}

/* ====================== */
/* Subtitle Intro */
/* ====================== */
.bloc-subtitle-intro {
  z-index: 20;
  position: absolute;
  top: 13em;
  right: -5em;
  width: 44em;
  height: 110%;
  background: #fc2850;
}

.subtitle-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5em;
}

.subtitle-intro .hightlight {
  font-weight: 700;
  font-style: normal;
}

/* ====================== */
/* Scroll Top */
/* ====================== */
.bloc-scroll-top {
  z-index: 20;
  position: absolute;
  bottom: 0;
  left: 53%;
  padding: 5em;
}

.scroll-top {
  z-index: 20;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #0500cc;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.scroll-top:before {
  z-index: 20;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 13px;
  height: 48px;
  background: url("../img/arrow.png");
  -webkit-transform: translate(-50%, -150%);
  -moz-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  -o-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
}

/* ====================== */
/* Flaps */
/* ====================== */
.flap {
  background: #0500cc;
}

.wrap-flap {
  position: relative;
  padding: 5em 8em;
}

.wrap-flap:before {
  content: "";
  position: absolute;
  top: 0;
  left: -3em;
  width: 3em;
  height: 20em;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.wrap-title-flap {
  padding: 2em 0;
}

.title-flap {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.big-title-flap {
  margin: 1em 0.25em 1em 0;
  font-size: 35px;
  color: #fc2850;
}

/* ====================== */
/* Content */
/* ====================== */
.wrap-list-flap {
  position: relative;
  margin-top: -84px;
}

.bloc-list-flap {
  overflow: hidden;
}

.list-flap {
  display: flex;
  margin: 0 0 0 -15%;
  padding: 5em 0;
  width: 130%;
}

.item-flap {
  float: left;
  flex: 1;
  margin: 2em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item-flap:nth-child(1) .item-txt-flap {
  left: -8em;
}

.item-flap:nth-child(1) .wrap-img-item {
  top: 3em;
}

.item-flap:nth-child(2) .item-txt-flap {
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
}

.item-flap:nth-child(3) .item-txt-flap {
  right: -18em;
  text-align: right;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.item-flap:nth-child(3) .wrap-img-item {
  top: -3em;
}

.item-flap:hover {
  flex: 1.5;
}

.item-flap:hover .wrap-img-item:after {
  opacity: 1;
}

.item-flap:hover .bloc-img-item-flap:after {
  opacity: 0.8;
}

.item-flap:hover:nth-child(1) .item-txt-flap {
  left: 4em;
}

.item-flap:hover:nth-child(3) .item-txt-flap {
  right: -3em;
}

.wrap-img-item {
  position: relative;
  overflow: hidden;
  height: 512px;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);
}

.wrap-img-item:after, .wrap-img-item:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: skew(25deg);
  -moz-transform: skew(25deg);
  -ms-transform: skew(25deg);
  -o-transform: skew(25deg);
  transform: skew(25deg);
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.wrap-img-item:before {
  background: url("../img/play.png") no-repeat;
  opacity: 1;
}

.wrap-img-item:after {
  background: url("../img/play-hover.png") no-repeat;
  opacity: 0;
}

.bloc-img-item-flap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fc2850;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.img-item-flap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: skew(25deg) translate(-40%, -50%);
  -moz-transform: skew(25deg) translate(-40%, -50%);
  -ms-transform: skew(25deg) translate(-40%, -50%);
  -o-transform: skew(25deg) translate(-40%, -50%);
  transform: skew(25deg) translate(-40%, -50%);
}

.item-txt-flap {
  z-index: 100;
  position: absolute;
  bottom: 30%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.title-txt-flap {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.subtitle-txt-flap {
  font-weight: 300;
  text-transform: uppercase;
}

/* ====================== */
/* Slider */
/* ====================== */
.slider {
  position: relative;
}

.slider:before {
  position: absolute;
  top: -75%;
  left: 50%;
  width: 160%;
  height: 1px;
  background: #fc2850;
  -webkit-transform: rotate(-35deg) translate(-50%, 0);
  -moz-transform: rotate(-35deg) translate(-50%, 0);
  -ms-transform: rotate(-35deg) translate(-50%, 0);
  -o-transform: rotate(-35deg) translate(-50%, 0);
  transform: rotate(-35deg) translate(-50%, 0);
}

.slider .logo-deco {
  z-index: 10;
  position: absolute;
  top: 0;
  left: calc(50% + 440px);
  display: block;
}

.deco-slider {
  margin: 8em 0 8em 50%;
  width: 58em;
  height: 85em;
  background: #fc2850;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

/* ====================== */
/* Pager */
/* ====================== */
.pager-slider {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -12.5em;
  width: 100%;
  height: 25em;
  background: url("../img/tmp/background.jpg") no-repeat center center;
  background-size: cover;
  border-left: 2em solid #0500cc;
  border-right: 2em solid #0500cc;
}

.pager-slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  background: #0500cc;
}

.pager-slider.active:after {
  left: 100%;
  -webkit-transition: left 2s cubic-bezier(0.91, 0, 0.07, 1);
  -moz-transition: left 2s cubic-bezier(0.91, 0, 0.07, 1);
  transition: left 2s cubic-bezier(0.91, 0, 0.07, 1);
}

.list-pages {
  float: right;
  display: table;
  margin-top: 75px;
}

.item-page {
  display: table-cell;
  vertical-align: middle;
}

.link-page {
  margin: 0 5px;
  font-family: "Paytone One";
  color: #ffffff;
  text-shadow: none;
}

.current-page .link-page {
  font-size: 60px;
  color: #fc2850;
}

.current-page .link-page:before {
  background: #0500cc;
}

.next-page .link-page {
  position: relative;
  padding-left: 60px;
  font-family: "Paytone One";
  font-size: 20px;
}

.next-page .link-page:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 13px;
  background: url("../img/arrow-right.png") no-repeat;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.next-page .link-page:hover:after {
  left: 110%;
}

/* ====================== */
/* Screen */
/* ====================== */
.screen-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-100% - 90px), -50%);
  -moz-transform: translate(calc(-100% - 90px), -50%);
  -ms-transform: translate(calc(-100% - 90px), -50%);
  -o-transform: translate(calc(-100% - 90px), -50%);
  transform: translate(calc(-100% - 90px), -50%);
}

.screen-slider .bx-wrapper {
  width: 400px;
}

.img-screen {
  display: block;
}

.details-slider {
  position: absolute;
  top: 50%;
  left: 0%;
  margin: 0 0 0 50%;
  width: 52em;
  height: 70em;
  background: #0500cc;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.wrap-detail {
  padding: 10em;
}

.item-detail {
  display: block !important;
}

.bloc-detail {
  position: relative;
  overflow: hidden;
}

.title-detail {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.text-detail {
  margin: 1.5em 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}

.bloc-cta-slider {
  z-index: 100;
  position: absolute;
  bottom: 5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tween-side {
  opacity: 0;
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
  transform: translateX(-20%);
}

/* ====================== */
/* Social */
/* ====================== */
.social {
  position: relative;
}

.social:before {
  content: "";
  position: absolute;
  top: -25%;
  left: 50%;
  width: 160%;
  height: 1px;
  background: #fc2850;
  -webkit-transform: rotate(-35deg) translate(-50%, 0);
  -moz-transform: rotate(-35deg) translate(-50%, 0);
  -ms-transform: rotate(-35deg) translate(-50%, 0);
  -o-transform: rotate(-35deg) translate(-50%, 0);
  transform: rotate(-35deg) translate(-50%, 0);
}

.social .logo-deco {
  z-index: 10;
  position: absolute;
  bottom: -20em;
  right: 35%;
  display: block;
}

.deco-social {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 60%;
  height: 180px;
  background: #fc2850;
}

.wrap-social {
  position: relative;
}

.item-social {
  position: relative;
}

/* ====================== */
/* Facebook */
/* ====================== */
.facebook {
  position: relative;
  width: 45%;
  margin-top: 3em;
}

.facebook:after {
  content: "";
  position: absolute;
  bottom: 3em;
  left: 0;
  width: 860px;
  height: 160px;
  background: url("../img/inside.png") no-repeat;
}

.content-facebook {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content-facebook .hightlight {
  font-size: 30px;
  font-family: "Paytone One";
  font-style: normal;
}

/* Hover Facebook */
.article-facebook {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 5em;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.article-facebook:before {
  content: "";
  position: absolute;
  top: -45px;
  left: -28px;
  width: 50px;
  height: 80px;
  background: url("../img/fb-blue.png") no-repeat;
}

.text-facebook {
  font-weight: 500;
  font-size: 12px;
  color: #0500cc;
  line-height: 1.5em;
}

.meta-facebook {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fc2850;
}

.bloc-cta-facebook {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bloc-cta-facebook:before {
  background: none;
  background-color: #0500cc;
}

.bloc-cta-facebook:after {
  content: "";
  position: absolute;
  top: -45px;
  left: -28px;
  width: 50px;
  height: 80px;
  background: url("../img/fb-white.png") no-repeat;
}

/* ====================== */
/* Blog */
/* ====================== */
.blog {
  width: 55%;
}

.title-blog {
  display: inline-block;
  margin-left: 4em;
  font-size: 21px;
  font-weight: 300;
  color: #0500cc;
  text-align: right;
}

.title-blog .hightlight {
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}

/* ====================== */
/* Article */
/* ====================== */
.wrap-article {
  position: relative;
  margin-top: 5em;
  z-index: 0;
  /* Hover */
}

.wrap-article:hover .bloc-media-article:after {
  opacity: 0.5;
}

.wrap-article:hover .bloc-media-article .media-article {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.wrap-article:hover .title-article:before {
  width: 100%;
}

.link-blog {
  text-decoration: none;
}

.bloc-media-article {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.bloc-media-article:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0500cc;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.media-article {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 1s ease-in-out 0.1s;
  -moz-transition: all 1s ease-in-out 0.1s;
  transition: all 1s ease-in-out 0.1s;
}

.wrap-content-article {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5em;
  width: 55%;
  background: #fff;
}

.cat-article {
  font-size: 12px;
  text-transform: uppercase;
  color: #fc2850;
}

.margin-bottom, .text-facebook p, .meta-article, .title-article, .text-article {
  margin-bottom: 30px;
}

.date-article {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fc2850;
}

.title-article {
  position: relative;
  display: block;
  padding-bottom: 1em;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0500cc;
  line-height: 1.3em;
}

.title-article:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 1px;
  background: #fc2850;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.text-article {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: #0500cc;
  line-height: 1.5em;
}

.read-more-article {
  color: #fc2850;
}

.read-more-article:hover {
  color: #ffffff;
}

.bloc-cta-blog {
  float: right;
  margin: 0;
  z-index: 1;
  box-shadow: none;
}

.bloc-cta-blog:before {
  background: none;
  background-color: #0500cc;
}

/* ====================== */
/* Map */
/* ====================== */
.map {
  margin-top: 160em;
}

.wrap-map {
  position: relative;
}

/* ====================== */
/* GMap */
/* ====================== */
#gmap {
  width: 100%;
  height: 500px;
}

/* ====================== */
/* Controls */
/* ====================== */
.controls-map {
  position: absolute;
  top: 0;
  right: 0;
  width: 13em;
  height: 100%;
  background: #1105fd;
}

.list-controls-map {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10em;
}

.link-control-map {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: #fc2850;
  text-indent: -9999px;
}

.link-control-map:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  background: url("../img/plus.png");
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.link-control-map.zoom-in:after {
  background: url("../img/plus.png");
}

.link-control-map.zoom-out:after {
  background: url("../img/minus.png");
}

/* ====================== */
/* content - article */
/* ====================== */
/* ====================== */
/* editor-wysiwyg */
/* ====================== */
/* ====================== */
/* responsive */
/* ====================== */
/* ====================== */
/* body */
/* ====================== */
body {
  overflow: hidden;
}

body.dev {
  background: url("../img/tmp/fond.jpg") top center no-repeat;
  opacity: 0.5;
}

/* ====================== */
/* parallax */
/* ====================== */
.parallax {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* ====================== */
/* sitemap */
/* ====================== */
/* ====================== */
/* ie */
/* ====================== */
/* ====================== */
/* javascript */
/* ====================== */
.js .body-side .nav-main-level-2 {
  max-height: 0;
  padding: 0 15px;
}

.js .body-side .item-nav-main-level-1.open .nav-main-level-2 {
  max-height: 1000em;
  padding: 15px;
}

.no-js .faded {
  opacity: 1;
}

/* ====================== */
/* dependances modernizr */
/* ====================== */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .backgroundsize .cta-nav-resp {
    background-image: url("../img/sprite-1@2x.png");
    background-size: 300px;
  }
}

.placeholder .hidden-placeholder {
  position: absolute;
  top: -99999em;
  left: -99999em;
}

.svgasimg .bx-prev:before,
.svgasimg .bx-next:before {
  background-image: url("../img/sprite-1.svg");
}

/* ====================== */
/* responsive */
/* ====================== */
@media only screen {
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}

/* ====================== */
/* print */
/* ====================== */
@media print {
  * {
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    size: portrait 21cm 29.7cm;
    margin: 1cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .block-notice,
  #footer,
  .links-nav,
  .print-page {
    display: none;
  }
  .title-article {
    font-size: 3em;
  }
  .chapo {
    font-size: 1.4em;
  }
  .editor-wysiwyg a {
    text-decoration: underline;
  }
  .editor-wysiwyg ul, .editor-wysiwyg ol {
    padding-left: 0;
  }
  .editor-wysiwyg ul, .editor-wysiwyg ul li {
    list-style: square;
    background: transparent;
  }
  .editor-wysiwyg ol, .editor-wysiwyg ol li {
    list-style: decimal;
  }
  .editor-wysiwyg ol li:before {
    display: none;
  }
}
