/* ====================== */
/* Download */
/* ====================== */

.download {
  @extend .center;
  position: relative;
  text-align: center;
}

.content-download {
  padding: $space-8 0;
  padding-left: calc(100%/3);
}

.title-download {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $color-text-3;

  strong {
    font-size: 40px;
    font-weight: 600;
  }
}

.subtitle-download {
  margin-bottom: $space-1;
  font-size: 18px;
  color: $color-text-2;

  strong {
    font-family: $font-2;
  }
}

.link-visuel-download {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cta-download {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: $space-1;
  padding: $space-1 $space-3;
  border-radius: 50px;
  font-size: 23px;
  color: $color-white;
  text-decoration: none;

  &:before, &:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &:before {
    background: $color-site-2;
    width: 100%;
  }

  &:after {
    background: $color-site-1;
    width: 0%;
    @include transition(width .25s ease-in-out);
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.dl {
  display: block;
  font-size: 12px;
}
