/* ====================== */
/* Download */
/* ====================== */

.download {
  @extend .center;
  position: relative;
  text-align: center;
}

.content-download {
  padding: $space-8 0;
  padding-left: calc(100%/3);
}

.title-download {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: $color-text-3;

  strong {
    font-size: 40px;
    font-weight: 600;
  }
}

.subtitle-download {
  margin-bottom: $space-1;
  font-size: 18px;
  color: $color-text-2;

  strong {
    font-family: $font-2;
  }
}

.link-visuel-download {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bloc-cta-download {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: $space-1;
  border-radius: 50px;

  &:before, &:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &:before {
    background: $color-site-2;
    width: 100%;
  }

  &:after {
    background: $color-site-1;
    width: 0%;
    @include transition(width .25s ease-in-out);
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.cta-download {
  z-index: 1;
  position: relative;
  display: block;
  padding: 10px 40px 10px 80px;
  font-size: 23px;
  color: $color-white;
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    width: 28px;
    height: 28px;
    @include transform(translate(0, -50%));
  }

  &.android {
    &:before {
      background: url("../img/playstore.png");
    }
  }

  &.apple {
    &:before {
      background: url("../img/apple.png");
    }
  }
}

.dl {
  display: block;
  font-size: 12px;
}

@media only screen and (max-width: $mq-4) {

  .download {
    z-index: 0;
    background: $color-site-1;
  }

  .content-download {
    z-index: 10;
    padding: $space-5 $space-2 $space-5 30% !important;
  }

  .subtitle-download {
    color: $color-white;
  }

  .link-visuel-download {
    z-index: -1;
    position: absolute;
    height: 120%;

    img {
      width: auto;
      height: 100%;
    }
  }

}

@media only screen and (max-width: $mq-3) {

  .link-visuel-download {
    display: none;
  }

  .content-download {
    padding: $space-4 !important;
  }

}
