/* ====================== */
/* Flaps */
/* ====================== */

.flap {
  position: relative;
  background: $color-site-2;

  &:after {
    @extend .width-inverse;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-1;
  }

  &.active {
    .title-flap {
      @extend .anim-title-active;
    }
    &:after {
      @extend .width-inverse-active;
    }
    .bloc-img-item-flap {
      &:before {
        @extend .width-inverse-active;
      }
    }
  }
}

.wrap-flap {
  @extend .clearfix;
  @extend .center;
  z-index: 3;
  position: relative;
  padding: $space-5 $space-7;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -$space-3;
    width: $space-3;
    height: 20em;
    @include transform(translate(0, -50%));
  }
}

.wrap-title-flap {
  padding: $space-2 0;
  overflow: hidden;
}

.title-flap {
  @extend .anim-title;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.big-title-flap {
  margin: $space-1 .25em $space-1 0;
  font-size: 35px;
  color: $color-text-2;
}

/* ====================== */
/* Content */
/* ====================== */

.wrap-list-flap {
  position: relative;
  margin-top: -84px;
}

.bloc-list-flap {
  overflow: hidden;
}

.list-flap {
  display: flex;
  margin: 0 0 0 -15%;
  padding: $space-5 0;
  width: 130%;
}

.item-flap {
  float: left;
  flex: 10;
  margin: $space-2;
  @include transition(all .5s ease-in-out);

  &:nth-child(1) {

    .item-txt-flap {
      left: -$space-7;

      &:before, &:after {
        left: 150%;
      }
    }

    .wrap-img-item {
      top: $space-3;
    }
  }

  &:nth-child(2) {

    .item-txt-flap {
      z-index: 1;
      left: 50%;
      @include transform(translateX(-50%));
      text-align: center;
    }
  }

  &:nth-child(3) {

    .item-txt-flap {
      right: -$space-7;
      text-align: right;

      &:before, &:after {
        left: -50%;
      }
    }

    .wrap-img-item {
      top: -$space-3;
    }
  }

  &:hover {
    flex: 12;

    .item-txt-flap {
      &:after {
        opacity: 1;
      }
    }

    .bloc-img-item-flap {
      &:after {
        opacity: 0.8;
      }
    }

    &:nth-child(1) {
      .item-txt-flap {
        left: -$space-6;
      }
    }

    &:nth-child(3) {
      .item-txt-flap {
        right: -$space-6;
      }
    }
  }
}

.link-item-flap {
  color: $color-text-1;
}

.wrap-img-item {
  //@extend .box-shadow-min;
  position: relative;
  overflow: hidden;
  height: 512px;
  @include transform(skew(-25deg));
}

.bloc-img-item-flap {
  position: relative;
  width: 100%;
  height: 100%;

  &:after, &:before {
    content: "";
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 150%;
    background: $color-bg-1;
    opacity: 0;
    @include transition(opacity .5s ease-out);
  }

  &:before {
    z-index: 10;
    opacity: 1;
    @include transition(width 1s ease-in-out 1s);
  }
}

.img-item-flap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: auto;
  height: 110%;
  @include transform(skew(25deg) translate(-40%, -50%));
}

.item-txt-flap {
  z-index: 100;
  position: absolute;
  bottom: 30%;
  @include transition(all .5s ease-in-out !important);

  &:after, &:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -100%;
    left: 50%;
    width: 40px;
    height: 40px;
    @include transform(translate(-50%, 0));
    @include transition(opacity .5s ease-out);
  }

  &:before {
    background: url('../img/play.png') no-repeat;
    opacity: 1;
  }

  &:after {
    background: url('../img/play-hover.png') no-repeat;
    opacity: 0;
  }
}

.title-txt-flap {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.subtitle-txt-flap {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2em;
}

@media only screen and (max-width: $mq-5) {

  .item-flap:nth-child(1) .item-txt-flap {
    left: 12em;
  }

  .item-flap:nth-child(3) .item-txt-flap {
    right: 12em;
  }

  .item-txt-flap {
    &:after, &:before {
      top: -60px;
      left: 50% !important;
    }
  }

  .item-flap {
    position: relative;
  }

  .title-txt-flap {
    font-size: 26px;
  }
}

@media only screen and (max-width: $mq-4) {
  .wrap-flap {
    padding: $space-2 0;
  }

  .wrap-title-flap {
    padding: $space-3 0 $space-5;
  }

  .title-flap {
    text-align: center;
  }

  .wrap-list-flap {
    margin-top: 0;
  }

  .list-flap {
    flex-direction: column;
    padding: 0;
  }

  .item-txt-flap {
    top: 50%;
    left: 50% !important;
    right: auto !important;
    bottom: auto;
    text-align: center !important;
    @include transform(translate(-50%, 0%));
  }

  .wrap-img-item {
    top: 0 !important;
    height: 24em;
    @include transform(none);
  }

  .item-flap {
    margin: 0;
  }

  .img-item-flap {
    width: 100%;
    height: auto;
    @include transform(translate(-50%, -50%));
  }
}

@media only screen and (max-width: $mq-3) {

  /* ====================== */
  /* Content */
  /* ====================== */

  .wrap-img-item {
    height: 12em;
  }

  .title-txt-flap {
    font-size: 20px;
  }

  .subtitle-txt-flap {
    padding: .5em 0 0 0;
    font-size: 12px;
    line-height: 1.2em;
  }

}
