/* ====================== */
/* Flaps */
/* ====================== */

.flap {
  background: $color-site-2;
}

.wrap-flap {
  @extend .clearfix;
  @extend .center;
  position: relative;
  padding: $space-5 $space-7;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -$space-3;
    width: $space-3;
    height: 20em;
    @include transform(translate(0, -50%));
  }
}

.wrap-title-flap {
  padding: $space-4 0;
}

.title-flap {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* ====================== */
/* Content */
/* ====================== */

.wrap-list-flap {
  position: relative;
}

.bloc-list-flap {
  overflow: hidden;
}

.list-flap {
  display: flex;
  margin: 0 0 0 -15%;
  padding: $space-5 0;
  width: 130%;
}

.item-flap {
  float: left;
  flex: 1;
  margin: $space-2;
  @include transition(all .5s ease-in-out);

  &:nth-child(1) {

    .item-txt-flap {
      left: -$space-7;
    }

    .bloc-img-item-flap {
      top: $space-3;
    }
  }

  &:nth-child(2) {

    .item-txt-flap {
      z-index: 1;
      left: 50%;
      @include transform(translate(-50%, 0));
      text-align: center;
    }
  }

  &:nth-child(3) {

    .item-txt-flap {
      right: -10em + -$space-7;
      text-align: right;
      @include transform(translate(-50%, 0));
    }

    .bloc-img-item-flap {
      top: -$space-3;
    }
  }

  &:hover {
    flex: 1.5;

    .bloc-img-item-flap {
      &:after {
        opacity: 0.8;
      }
    }

    &:nth-child(1) {
      .item-txt-flap {
        left: $space-4;
      }
    }

    &:nth-child(3) {
      .item-txt-flap {
        right: -$space-3;
      }
    }
  }
}

.bloc-img-item-flap {
  @extend .box-shadow-min;
  position: relative;
  overflow: hidden;
  height: 512px;
  @include transform(skew(-25deg));

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-1;
    opacity: 0;
    @include transition(opacity .5s ease-out);
  }
}



.img-item-flap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  @include transform(skew(25deg) translate(-40%, -50%));
}

.item-txt-flap {
  z-index: 100;
  position: absolute;
  bottom: 30%;
  @include transition(all .5s ease-in-out);
}

.title-txt-flap {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.subtitle-txt-flap {
  font-weight: 300;
  text-transform: uppercase;
}
