/* ====================== */
/* footer */
/* ====================== */
.footer {
	background: #060083;
}

/* ====================== */
/* top footer */
/* ====================== */

.top-footer {
	@extend .center;
	position: relative;

	.wrap-logo-deco {
		position: absolute;
		top: 24%;

		&.logo-deco-1 {
			left: 33%;

			.logo-deco {
				@include transform(rotateY(180deg) translate(50%, 0) scale(0.75));
			}
		}

		&.logo-deco-2 {
			left: 66%;

			.logo-deco {
				@include transform(translate(-50%, 0) scale(0.75));
			}
		}
	}
}

.list-footer {
	@extend .list-col;
	//display: inline-block;
	margin: -$space-8;
}

.item-footer {
	@extend .item-col;
	padding: $space-8;
	width: calc(100% / 3);
}

.content-item-footer {
	padding: $space-5 0;
}

.title-footer {
	margin-bottom: 1em;
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.text-footer {
	margin-bottom: 1.5em;
	font-size: 1.2em;
	font-weight: 600;
	font-style: italic;
	line-height: 2em;

	strong {
		font-weight: 800;
		font-style: normal;
	}
}

.item-nav-footer {
	padding: 1em 0;
}

.link-nav-footer {
	@extend .link;
}

/* ====================== */
/* bottom footer */
/* ====================== */

.wrap-bottom-footer {
	background: $color-site-2;
}

.bottom-footer {
	@extend .clearfix;
	@extend .center;
	padding: $space-2;
}

.legal-footer {
	float: left;
	font-size: 12px;
	font-weight: 300;

	strong {
		font-weight: 700;
		font-style: italic;
	}
}

.text-bottom-footer {
	float: right;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: $color-text-2;
}

.icon-footer {
	position: relative;
	margin: 1em 0;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: -30px;
		width: 20px;
		height: 20px;
		@include transform(translate(0, -50%));
	}
}

.wrap-mail-footer {
	@extend .icon-footer;
	&:after {
		background: url('../img/contact.png') no-repeat;
	}
}

.mail-footer {
	@extend .link;
	box-shadow: none;
	font-style: italic;
}

.location-footer {
	@extend .icon-footer;
	&:after {
		background: url('../img/location.png') no-repeat;
	}
}

.social-footer {
	margin-top: $space-5;
}

.cta-footer {
	@extend .cta-regular;
	z-index: 10;
	display: inline-block;
	font-size: 12px;
}




/* ====================== */
/* responsive */
/* ====================== */
@media only screen and (max-width: $mq-5) {
	.top-footer {
		padding: 0 $space-5;
	}
}
@media only screen and (max-width: $mq-4) {
	.top-footer {
		max-width: 100%;
		padding: 0 $space-3;
	}
	.list-footer {
		margin: 0;
	}
	.item-footer {
		float: none;
		width: 100%;
		margin: $space-3 0;
		padding: 0;
		text-align: center;
	}
	.wrap-logo-deco {
		display: none;
	}
	.content-item-footer {
		padding: 0;
	}
	.item-nav-footer {
		display: inline-block;
		padding: $space-1;
	}
	.bottom-footer {
		text-align: center;
	}
	.legal-footer, .text-bottom-footer {
		float: none;
	}
}
@media only screen and (max-width: $mq-3) {
}
@media only screen and (max-width: $mq-2) {
}
@media only screen and (max-width: $mq-1) {
}
