/* ====================== */
/* Header */
/* ====================== */

.header {
  @extend .clearfix;
  @extend .center;
  position: relative;
}

.wrap-header {
	@extend .box-shadow;
  z-index: 1;
  position: absolute;
  top: 0; right: 0;
  width: 47%;
  height: 899px;
  background: $color-site-1;
}

/* ====================== */
/* Logo */
/* ====================== */

.logo {
  display: inline-block;
  padding: $space-5;
}

.title-logo {
  display: none;
}

.tools {
  float: right;
  padding: $space-7;
}

/* ====================== */
/* Subscribe */
/* ====================== */

.item-tool {
  float: left;

  &:last-child {
    .link-tool {
      &:after {
        content: "";
      }
    }
  }
}

.link-tool {
  @extend .link;
  position: relative;
  margin-left: $space-1;
  font-weight: 300;

  &:before {
    background: $color-site-2;
  }

  &:after {
    content: "/";
    position: absolute;
    top: 0;
    left: calc(100% + .25em);
  }

  &:hover {
    font-weight: 300;
  }
}

/* ====================== */
/* Bloc Facebook */
/* ====================== */

.bloc-fb {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: $space-3 $space-2;
}

.bloc-count-fb {
	position: relative;
	display: block;
	margin-bottom: $space-1;
	text-align: center;
	border: 1px solid $color-site-2;

	&:after, &:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		height: 0;
		width: 0;
		border: solid transparent;
	}

	&:before {
		border-color: rgba(6, 0, 199, 0);
		border-top-color: $color-site-2;
		border-width: 7px;
		margin-left: -7px;
	}

	&:after {
		border-color: rgba(253, 40, 79, 0);
		border-top-color: $color-site-1;
		border-width: 6px;
		margin-left: -6px;
	}
}

.count-fb {
	color: $color-text-3;
	font-weight: 900;
	//font-size: 11px;
}

@media only screen and (max-width: $mq-7) {
}
@media only screen and (max-width: $mq-6) {
}
@media only screen and (max-width: $mq-5) {
}
@media only screen and (max-width: $mq-4) {
  .fake-title {
    display: none;
  }

  .wrap-header {
    z-index: 100000;
    width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
  }

  .bloc-fb {
    display: none;
  }

  .logo {
    padding: 3em;
    width: 15em;
  }

  .img-logo {
    max-width: 100%;
  }

  .tools {
    padding: 4em;
  }
}
@media only screen and (max-width: $mq-3) {
  .title-video-intro {
    font-size: 50px !important;
  }

  .tools {
    padding: $space-4 $space-2;
  }

  .link-tool {
    font-size: 12px;
  }

  .bloc-subtitle-intro {
    font-size: 14px !important;
  }

}
@media only screen and (max-width: $mq-2) {
}
@media only screen and (max-width: $mq-1) {
}
