/* ====================== */
/* Intro */
/* ====================== */

.intro {
  @extend .clearfix;
  @extend .center;
  z-index: 1;
  position: static;
  margin-top: $space-6;
  background: $color-site-2;

  .logo-deco {
    z-index: 20;
    position: absolute;
    top: 15em;
    left: calc(50% + 50em);
    display: block;
  }

  .shape-deco {
    z-index: 20;
    position: absolute;
    top: 60em;
    left: $space-7;
    display: block;
  }

  &.active {
    .wrap-video-intro {
      &:after {
        @extend .width-inverse-active;
      }
    }
    .title-video-intro {
      @extend .anim-title-active;
    }
    .frame-video-intro {
      opacity: 1;
    }
    .subtitle-intro {
      @extend .anim-left-active;
    }
  }
}

.wrap-intro {
  @extend .clearfix;
  @extend .box-shadow;
  position: relative;
  padding : $space-1 0;
}

/* ====================== */
/* Navigation */
/* ====================== */

.main-nav {
  @extend .clearfix;
  padding: 0 $space-8;
}

.menu-item {
  float: left;
  padding: $space-4 $space-7 $space-4 0;
}

.link-menu-item {
  @extend .link;
}

/* ====================== */
/* Bloc video */
/* ====================== */

.bloc-video-intro {
  z-index: 10;
  position: relative;
  padding: 0 $space-8;
  width: 100%;
}

.content-video-intro {
  //margin-top: -50px;
}

.wrap-video-intro {
  position: relative;
  @include transition(height .2s ease-in-out);

  &:after {
    @extend .width-inverse;
    z-index: 30;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-site-1;
  }

  &.disabled {
    background: url('../img/tmp/background-intro.jpg') center center;
    background-size: cover;

    .video-intro {
      display: none;
    }
  }
}

.video-intro {
  display: block;
  width: 90%;
  height: auto;
}

.bloc-title-video-intro {
  overflow: hidden;
  z-index: 45;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  @include transform(translate(0, -50%));
}

.title-video-intro {
  @extend .anim-title;
  display: block;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 6px;
}

.bloc-frame-video-intro {
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.frame-video-intro {
  display: inline-block;
  opacity: 0;
  @include transition(opacity .5s ease-in-out 1s);
}

.bloc-shape-video-intro {
  mix-blend-mode: overlay;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 13em;
  width: calc(53% - 13em);
  height: 100%;
  text-align: center;
  background: $color-site-1;
}

.shape-video-intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bloc-desc-intro {
  padding: $space-4 $space-8;
}

.desc-intro {
  font-weight: 300;
  text-transform: uppercase;
}

/* ====================== */
/* Subtitle Intro */
/* ====================== */

.wrap-subtitle-intro {
  @extend .box-shadow;
  z-index: 35;
  position: absolute;
  top: 40em;
  right: $space-7;
  width: 44em;
  background: $color-site-1;
}

.bloc-subtitle-intro {
  position: relative;
  overflow: hidden;
  margin: $space-3;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.5em;

  .hightlight {
    font-weight: 700;
    font-style: normal;
  }
}

.subtitle-intro {
  @extend .anim-left;
}

/* ====================== */
/* Scroll Top */
/* ====================== */

.bloc-scroll-top {
	z-index: 20;
	position: absolute;
	bottom: 0;
	left: 53%;
	padding: $space-5;
}

.scroll-top {
	z-index: 20;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	color: $color-site-2;
  letter-spacing: 4px;
	text-transform: uppercase;

	&:before {
		z-index: 20;
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 13px;
		height: 48px;
		background: url("../img/arrow.png");
		@include animation(scroll 3s infinite ease-in-out);
	}
}

@include keyframes(scroll) {
  0%   { @include transform(translate(-50%, -125%)) }
  50%   { @include transform(translate(-50%, -175%)) }
  100%   { @include transform(translate(-50%, -125%)) }
}

@media only screen and (max-width: $mq-5) {

  .intro {
    .frame-video-intro {
      width: 50%;
    }

    .logo-deco {
      display: none;
    }
  }

  .logo {
    padding: $space-5 $space-3;
  }

  .tools {
    padding: $space-7 $space-3;
  }

  .wrap-subtitle-intro {
    top: 30em;
    width: 30em;
  }

  .bloc-subtitle-intro {
    margin: $space-2;
    font-size: 18px;
  }

  .menu-item {
    padding: $space-4 $space-2 $space-4 0;
  }

  .title-video-intro {
    font-size: 50px;
  }
}

@media only screen and (max-width: $mq-4) {
  .intro {
    margin-top: 0;

    .shape-deco {
      top: calc(50% + 40px);
      left: calc(50% - 210px);
    }
  }
  .wrap-intro {
    padding: 0;
  }
  .main-nav {
    display: none;
  }

  .wrap-video-intro {
    height: 80em;
  }

  .bloc-video-intro {
    padding: 0;
  }

  .video-intro {
    position: absolute;
    left: 50%;
    width: auto;
    height: 100%;
    @include transform(translate(-50%, 0))
  }

  /* title */

  .bloc-title-video-intro {
    top: 50%;
  }

  /* baseline */

  .wrap-subtitle-intro {
    top: auto;
    right: auto;
    bottom: 0;
    width: 100%;
  }

  .bloc-subtitle-intro {
    margin: 2em;
    font-size: 18px;
  }

  /* shape */

  .bloc-frame-video-intro {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .frame-video-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: 0 auto;
    width: auto !important;
    height: 50%;
    @include transform(translate(-50%, -50%) rotate(90deg));
  }

  .bloc-shape-video-intro {
    left: 0;
    width: 50%;
  }

  /* scroll */
  .bloc-scroll-top {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, 25%))
  }

  .scroll-top {
    color: white;
  }

  /* bloc desc*/

  .bloc-desc-intro {
    display: none;
  }
}
