/* ====================== */
/* Article */
/* ====================== */
$page-width : 75%;

.page {
  z-index: 0;
  position: relative;
  @extend .clearfix;
  background: $color-white;

  img {
    display: block;
    @extend .box-shadow;
  }
}

.page-center {
  width: $page-width;
  margin: 0 auto;
}

/* ====================== */
/* Header */
/* ====================== */

.header-page {
  @extend .clearfix;
  @extend .page-center;
  position: relative;
  margin: 12em auto 0;

  &.active {
    .title-header-page {
      @extend .anim-title-active;
    }
    .wrap-thumb-header-page {
      &:before {
        @extend .width-inverse-active;
      }
    }
  }
}

.wrap-title-section-page, .wrap-title-header-page {
  overflow: hidden;
  //margin-bottom: $space-6;
}

.title-header-page {
  @extend .anim-title;
  position: relative;
  z-index: 1;
  font-family: $font-2;
  font-size: 13em;
  color: $color-text-5;
  text-transform: uppercase;
  text-align: right;
}

.wrap-header-page  {
  @extend .wrap-detail;
  position: relative;
  z-index: 2;
  display: block;
  margin-top: -5em;
  padding: 10em;
  width: 35%;
  background: $color-site-2;
  float: right;
}

.bloc-header-page  {
  @extend .bloc-detail;
}

.subtitle-header-page  {
  @extend .title-detail;
}

.text-header-page  {
  @extend .text-detail;
}

.wrap-thumb-header-page {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;

  &:before {
    @extend .width-inverse;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-site-1;
  }
}

.thumb-header-page {
  max-width: 100%;
  height: auto;
}

.wrap-bottom-header-page {
  position: relative;
  width: 100%;
  background: $color-site-2;
}

.bottom-header-page {
  @extend .page-center;
  position: relative;
  overflow: hidden;
  height: 15em;
  background: $color-site-1;
}

.bg-bottom-header-page {
  position: absolute;
  display: block;
  top: -50%;
  width: 100%;
  height: auto;
}
/* ====================== */
/* Content */
/* ====================== */
.section-page {
  margin: 12em 0;

  &.section-page-blue {
    .deco-content-section-page {
      background: $color-site-2;
    }
    figcaption {
      color: $color-text-2;
    }
  }

  &.active {
    .title-section-page {
      @extend .anim-title-active;
    }

    figcaption, .subtitle-section-page {
      @extend .to-padding-60-active;

      &:before {
        @extend .right-left-active;
      }
    }

    .deco-content-section-page {
      width: $page-width + (100% - $page-width) / 2;
    }

    .wrap-thumb-content-section-page {
      &:before {
        @extend .width-inverse-active;
      }
    }
  }
}

.wrap-title-section-page {
  @extend .page-center;
  position: relative;
  overflow: hidden;
  margin-bottom: $space-6;
}

.title-section-page {
  @extend .anim-title;
  font-family: $font-2;
  font-size: 10em;
  color: $color-text-5;
  text-transform: uppercase;
  text-align: right;
}

.wrap-subtitle-section-page {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  @include transform(translate(0, -50%));
}

.subtitle-section-page {
  @extend .to-padding-60;
  position: relative;
  padding-left: 60px;
  display: inline-block;
  color: $color-text-3;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 8px;

  &:before {
    @extend .right-left;
    content: "";
    position: absolute;
    top: 10px;
    width: 48px;
    height: 13px;
    background: url('../img/red-arrows.png');
  }
}

.wrap-content-section-page {
  position: relative;
}

.deco-content-section-page {
  @extend .width;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background: $color-site-1;

  &.align-right {
    left: auto;
    right: 0;
  }
}

/* ====================== */
/* Editor Wysiwyg */
/* ====================== */
.content-section-page {
  @extend .page-center;
  z-index: 1;
  position: relative;
  padding: $space-7;
  font-size: 20px;
  font-weight: 300;
  line-height: 2em;

  .date {
    color: $color-text-3;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  strong {
    color: $color-text-3;
  }

  p {
    margin-bottom: 40px;
  }

  h3, h4, h5 {
    font-family: $font-2;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 40px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 36px;
    color: $color-text-3;
  }

  h5 {
    font-size: 24px;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/* For blue background */

.section-page-blue {
  .wrap-thumb-content-section-page:before {
    background: $color-site-1;
  }
  .content-section-page {
    .date {
      color: $color-text-2;
    }

    strong {
      color: $color-text-2;
    }

    h4 {
      color: $color-text-2;
    }
  }
}

/* ====================== */
/* Image */
/* ====================== */

.section-page {

  figure {
    &.align-left {
      float: left;
      margin: -20em $space-5 $space-5 0;

      .wrap-thumb-content-section-page:before {
        right: auto;
        left: 0;
      }
    }

    &.align-right {
      float: right;
      margin: -20em 0 $space-5 $space-5;

      .wrap-thumb-content-section-page:before {
        right: 0;
        left: auto;
      }
    }
  }

  .wrap-thumb-content-section-page {
    position: relative;

    &:before {
      @extend .width-inverse;
      z-index: 2;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-site-2;
    }
  }

  figcaption {
    @extend .to-padding-60;
    position: relative;
    padding: $space-2 0 0 $space-4;
    font-weight: 500;
    color: $color-text-3;
    font-size: 22px;

    &:before {
      @extend .right-left;
      content: "";
      position: absolute;
      top: 55px;
      width: 48px;
      height: 13px;
      background: url("../img/arrow-right.png") no-repeat;
    }
  }
}

/* ====================== */
/* Blockquote */
/* ====================== */

.section-page-quote {
  position: relative;
  margin: 12em 0;
  padding: $space-7 $space-3;
  background: $color-site-2;
  overflow: hidden;

  &.active {
    .wrap-bg-quote:before {
      @extend .width-inverse-active;
    }
  }
}

.wrap-bg-quote {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.wrap-bg-quote {

  &:before {
    @extend .width-inverse;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-site-2;
  }
}

.bg-quote {
  margin-top: -10%;
}

.wrap-quote {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.quote {
  position: relative;
  display: block;
  padding: $space-1;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-align: center;

  &:before, &:after {
    position: absolute;
    content: '"';
    font-size: 110px;
    font-style: italic;
    color: $color-text-2;
    line-height: 20px;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }
}

.author-quote {
  padding: $space-1 0 0;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  color: $color-text-2;
}

/* ====================== */
/* Download */
/* ====================== */

.section-page-download {
  z-index: 0;
  @extend .page-center;
  position: relative;
  margin: 12em auto;
  background: $color-bg-3;
}

.title-section-page-download {
  z-index: 0;
  text-align: center;
  font-size: 130px;
  font-family: $font-2;
  color: $color-text-2;
  text-transform: uppercase;
}
.wrap-cta-download {
  z-index: 2;
  margin-top: -$space-8;
  padding: $space-4;
  text-align: center;
}
