/* ====================== */
/* Partners */
/* ====================== */
.partners {
  margin-top: $space-6;

  &.active {
    .title-partners {
      @extend .anim-title-active;
    }

    .item-partner {

      &:before {
        @include transform(skew(-25deg) translate(0%, 0));
      }

      &:nth-child(2n) {
        &:before {
          @include transform(skew(-25deg) translate(0%, 0));
        }
      }
    }
  }
}

.wrap-title-partners {
  text-align: center;
  overflow: hidden;
}

.title-partners {
  @extend .anim-title;
  position: relative;
  display: inline-block;
  padding-left: $space-1/2;
  font-family: $font-2;
  font-size: 10em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  line-height: 0.8em;
  color: $color-site-1;

  .blue {
    color: $color-site-2;
  }

  &:before {
    content: "Inside";
    position: absolute;
    top: 10px;
    left: 0;
    font-family: $font-1;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $color-text-3;
  }
}

.wrap-partners {
  @extend .clearfix;
  margin-top: -4px;
}

.list-partners {
  display: flex;
}

.item-partner {
  position: relative;
  flex: 10;
  height: 250px;
  @include transition(flex .5s ease-in-out);

  &:hover {
    flex: 11;
  }

  &:before {
    @extend .box-shadow;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 110%;
    height: 100%;
    background: $color-site-1;
    @include transform(skew(-25deg) translate(-100%, 0));
    @include transition(all 1s ease-out);
  }

  &:nth-child(2n) {
    &:before {
      left: auto;
      right: -15%;
      background: $color-site-2;
      @include transform(skew(-25deg) translate(100%, 0));
      @include transition(all 1s ease-in-out);
    }
  }
}

.link-partner {
  display: block;
  width: 100%;
  height: 100%;
}

.img-partner {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60%;
  @include transform(translate(-50%, -50%));
}

/* ====================== */
/* Partner login */
/* ====================== */

.log-partners {
  overflow: hidden;
  position: relative;
  text-align: center;
  background: $color-black;
}

.bloc-cta-partners {
  @extend .bloc-cta-regular;
  z-index: 10;
  margin: $space-5 0;
}

.cta-partners {
  @extend .cta-regular;
}

.wrap-background-log-partners {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.background-log-partners {
  display: inline-block;
}

@media only screen and (max-width: $mq-4) {
  .title-partners {
    font-size: 6em;
  }

  .item-partner {
    height: 180px;
    &:before {
      @include transform(skew(0deg) translate(0%, 0) !important);
      left: 0 !important;
      right: 0 !important;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: $mq-3) {

  .item-partner {
    height: 100px;
  }
  
  .title-partners {
    font-size: 30px;

    &:before {
      content: "";
    }
  }

  .partners {
    margin-top: $space-2;
  }
}
