/* ====================== */
/* Slider */
/* ====================== */

.slider {
  @extend .clearfix;
  position: relative;

  &:before {
    position: absolute;
    top: -75%;
    left: 50%;
    width: 160%;
    height: 1px;
    background: $color-site-1;
    @include transform(rotate(-35deg) translate(-50%, 0));
  }
}

.deco-slider {
  @extend .box-shadow-min;
  margin: $space-7 0 $space-7 50%;
  width: 58em;
  height: 85em;
  background: $color-site-1;
  @include transform(translate(-100%, 0));
}

/* ====================== */
/* Pager */
/* ====================== */

.pager-slider {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 25em;
  background: url('../img/tmp/background.jpg') no-repeat center bottom;
  background-size: cover;
  border-left: $space-2 solid $color-site-2;
  border-right: $space-2 solid $color-site-2;
  @include transform(translate(0, -50%));
}

.wrap-pages {
  @extend .center;
}

.list-pages {
  float: right;
  display: table;
  margin-top: 75px;
}

.item-page {
  display: table-cell;
  vertical-align: middle;
}

.link-page {
  @extend .link;
  margin: 0 5px;
  font-family: $font-2;
  color: $color-text-1;
  text-shadow: none;
}

.current-page {
  .link-page {
    font-size: 60px;
    color: $color-text-2;

    &:before {
      background: $color-site-2;
    }
  }
}

.next-page {
  .link-page {
    position: relative;
    padding-left: 60px;
    font-family: $font-2;
    font-size: 20px;

    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 48px;
      height: 13px;
      background: url("../img/arrow-right.png") no-repeat;
      @include transition;
    }

    &:hover {
      &:after {
        left: 110%;
      }
    }
  }
}

/* ====================== */
/* Screen */
/* ====================== */

.screen-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 90px;
  @include transform(translate(-100%, -50%));
}

.img-screen {
  @extend .box-shadow-min;
  display: block;
}

.details-slider {
  @extend .box-shadow-min;
  position: absolute;
  top: 50%;
  left: 0%;
  margin: 0 0 0 50%;
  width: 52em;
  height: 70em;
  background: $color-site-2;
  @include transform(translate(0, -50%));
}

.bloc-detail {
  padding: 10em;
}

.title-detail {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.text-detail {
  margin: 1.5em 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}
