/* ====================== */
/* Social */
/* ====================== */

.social {
  position: relative;
  @extend .clearfix;

  &.active {
    .bloc-media-article {
      &:before {
        @extend .width-inverse-active;
      }
    }
    .title-blog {
      @extend .anim-title-active;
    }
    .content-article {
      @extend .anim-left-active;
    }

    .wrap-item-social {
      &:after {
        @extend .width-inverse-active;
      }
    }
    .deco-social {
      width: 60%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -25%;
    left: 50%;
    width: 160%;
    height: 1px;
    background: $color-site-1;
    @include transform(rotate(-35deg) translate(-50%, 0));
  }

  .logo-deco {
    z-index: 10;
    position: absolute;
    bottom: -20em;
    right: 35%;
    display: block;
  }
}

.deco-social {
  @extend .width;
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 180px;
  background: $color-site-1;
}

.wrap-social {
  @extend .clearfix;
  @extend .center;
  position: relative;
}

.list-social {
  @extend .list-col;
  overflow: visible;
  margin: 0;
}

.item-social {
  @extend .item-col;
  position: relative;
}

/* ====================== */
/* Facebook */
/* ====================== */

.facebook {
  position: relative;
  width: 45%;
  margin-top: $space-3;

  &:after {
    content: "";
    position: absolute;
    bottom: $space-3;
    left: 0;
    width: 860px;
    height: 160px;
    background: url('../img/inside.png') no-repeat;
  }
}

.wrap-item-social {
  position: relative;

  &:after {
    z-index: 10;
    @extend .width-inverse;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-site-1;
  }
}

.link-facebook {
  @extend .clearfix;
  display: block;
  &:hover {
    .content-facebook-hover {
      .bloc-article-facebook {
        &:after {
          @extend .width-active;
        }

        .text-facebook {
          @extend .anim-left-active;
        }
      }
    }
  }
}

.media-facebook {
  @extend .img;
}

.content-facebook {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: $color-text-1;
  @include transform(translate(-50%, -50%));

  .hightlight {
    font-size: 30px;
    font-family: $font-2;
    font-style: normal;
  }
}

/* Hover Facebook */

.bloc-article-facebook {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  padding: $space-4;
  @include transform(translate(-50%, -50%));

  &:before {
    content: "";
    position: absolute;
    top: -45px;
    left: -28px;
    width: 50px;
    height: 80px;
    background: url('../img/fb-blue.png') no-repeat;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: $color-white;
    @include transition(width .25s ease-in-out);
  }
}

.article-facebook {
  overflow: hidden;
}

.text-facebook {
  @extend .anim-left;
  font-weight: 500;
  font-size: 12px;
  color: $color-site-2;
  line-height: 1.5em;

  p {
      @extend .margin-bottom;
  }
}

.meta-facebook {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-site-1
}

.bloc-cta-facebook {
  @extend .bloc-cta-regular;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: -2em;
  margin: 0;
  @include transform(translate(-50%, 0));

  &:before {
    background: none;
    background-color: $color-site-2;
  }

  &:after {
    content: "";
    position: absolute;
    top: -45px;
    left: -28px;
    width: 50px;
    height: 80px;
    background: url('../img/fb-white.png') no-repeat;
  }
}

.cta-facebook {
  @extend .cta-regular;
}

/* ====================== */
/* Blog */
/* ====================== */

.blog {
  width: 55%;
}

.bloc-title-blog {
  overflow: hidden;
}

.title-blog {
  @extend .anim-title;
  display: inline-block;
  margin-left: $space-4;
  font-size: 21px;
  font-weight: 300;
  color: $color-text-3;
  text-align: right;

  .hightlight {
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
  }
}

/* ====================== */
/* Article */
/* ====================== */

.wrap-article {
  position: relative;
  margin-top: $space-5;
  z-index: 0;

  /* Hover */

  &:hover {
    .bloc-media-article {
      &:after {
        opacity: 0.5;
      }

      .media-article {
        @include transform(scale(1));
      }
    }
    .title-article {
      &:before {
        width: 100%;
      }
    }
  }
}

.link-blog {
  text-decoration: none;
}

.bloc-media-article {
  position: relative;
  overflow: hidden;
  display: inline-block;

  &:before {
    @extend .width-inverse;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-site-2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-site-2;
    opacity: 0;
    @include transition(opacity .5s ease-out);
  }
}

.media-article {
  @extend .img;
  @include transform(scale(1.05));
  @include transition(all 1s ease-in-out .1s);
}

.wrap-content-article {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $space-5;
  width: 55%;
  background: $color-white;
  @extend .box-shadow;
}

.bloc-content-article {
  overflow: hidden;
}

.content-article {
  @extend .anim-left;
}

.cat-article {
  font-size: 12px;
  text-transform: uppercase;
  color: $color-text-2;
}

.margin-bottom {
  margin-bottom: 30px;
}

.meta-article {
  @extend .margin-bottom;
  @extend .img;
}

.date-article {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-text-2;
}

.title-article {
  @extend .margin-bottom;
  position: relative;
  display: block;
  padding-bottom: 1em;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-text-3;
  line-height: 1.3em;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 1px;
    background: $color-site-1;
    @include transition(width .5s ease-out);
  }
}

.text-article {
  @extend .margin-bottom;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: $color-site-2;
  line-height: 1.5em;
}

.read-more-article {
  @extend .link;
  color: $color-text-2;

  &:hover {
    color: $color-text-1;
  }
}

.bloc-cta-blog {
  @extend .bloc-cta-regular;
  float: right;
  margin: 0;
  z-index: 1;
  box-shadow: none;

  &:before {
    background: none;
    background-color: $color-site-2;
  }
}

.cta-blog {
  @extend .cta-regular;
}

@media only screen and (max-width: $mq-4) {
  .social {
    .logo-deco {
      display: none;
    }
  }

  .list-social {
    display: flex;
    flex-direction: column-reverse;
  }

  .item-social {
    flex: 1;
    padding: 0;
    text-align: center;
  }

  .facebook, .blog {
    width: 100%;
    margin-top: 0;
  }

  .blog {
    margin-bottom: $space-3;
  }

  /* Blog */
  .title-blog {
    margin: $space-3;
    text-align: center;
  }

  .deco-social {
    display: none;
  }

  .bloc-media-article {
    display: block;
  }

  .wrap-article {
    margin-top: 0;
  }

  .wrap-content-article {
    position: relative;
    width: 100%;
    //box-shadow: none;
  }

  .content-article {
    text-align: left;
  }

  .bloc-cta-blog {
    display: inline-block;
    float: none;
  }
}

@media only screen and (max-width: $mq-3) {

  /* ====================== */
  /* Blog */
  /* ====================== */

  .title-blog {
    margin: 2em;
    font-size: 20px;

    .hightlight {
      font-size: 20px;
    }
  }

  .wrap-content-article {
    padding: $space-4;
  }

}
