@import "bourbon";
@import "reset";
@import "variables";
@import "common";
@import "form";
@import "header";
@import "footer";
@import "tools";
@import "intro";
@import "flap";
@import "slider";
@import "social";
@import "map";
@import "partners";
@import "interfaces";
@import "download";
@import "content";
@import "page";

/* ====================== */
/* body */
/* ====================== */

body {
  overflow: hidden;
  &.dev {
    background: url('../img/tmp/fond.jpg') top center no-repeat;
    opacity: 0.5;
  }
}

.content {
  position: relative;
}

/* ====================== */
/* parallax */
/* ====================== */

.parallax {
  @include transition(all .2s);
}

.anim-title-active {
  @include transform(translate(0, 0%));
  opacity: 1;
}

.anim-title {
  @include transform(translate(0, 50%));
  @include transition(all 1s ease-in-out);
  opacity: 0;
}

.anim-left-active {
  @include transform(translate(0, 0%));
  opacity: 1;
}

.anim-left {
  @include transform(translate(-15%, 0));
  @include transition(all 1.5s ease-in-out);
  opacity: 0;
}

.width {
  width: 0%;
  @include transition(width 1s ease-in-out);
}

.width-active {
  width: 100%;
}

.width-inverse {
  width: 100%;
  @include transition(width 1s ease-in-out .5s);
}

.width-inverse-active {
  width: 0%;
}

/* ====================== */
/* Video Player */
/* ====================== */

.player {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.overlay-player-1, .overlay-player-2 {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

.overlay-player-1 {
  opacity: 1;
  background: $color-site-2;
  z-index: 300;
}

.overlay-player-2 {
  mix-blend-mode: overlay;
  opacity: 0.5;
  background: $color-site-1;
  z-index: 200;
}

.video-player {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  display: block;
  width: 100%;
  cursor: pointer;
  @include transform(translate(-100%, -50%));
}

.wrap-cta-close-player {
  @extend .bloc-cta-regular;
  z-index: 500;
  position: absolute;
  top: 10px;
  right: 20px;
}

.cta-close-player {
  @extend .cta-regular;
}

/* ====================== */
/* Loader */
/* ====================== */

.loading {
  z-index: 500;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #020042;
  opacity: 1;
  @include transition(all 1s ease-in-out);

  &.leave {
    opacity: 0;
    visibility: hidden;
  }
}

.content-loading {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  @include transform(translate(0, -50%));
}

.bloc-title-loading {
  position: relative;
  display: inline-block;
}

.progress-loading {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: $color-site-2;
}

.title-loading {
  z-index: 1;
  display: inline-block;
  font-size: 33px;
  text-transform: uppercase;
  letter-spacing: 10px;

  strong {
    color: $color-text-2;
  }
}

.title-inside {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  font-family: $font-2;
  font-size: 150px;
  color: #2e2c58;
  text-transform: uppercase;
  @include transform(translate(-50%, -45%));
}

.subtitle-loading {
  padding: $space-1;
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
}

@import "adapt";
@import "responsive";
@import "print";
