@import "bourbon";
@import "reset";
@import "variables";
@import "common";
@import "form";
@import "header";
@import "footer";
@import "tools";
@import "intro";
@import "flap";
@import "slider";
@import "social";
@import "content";

/* ====================== */
/* body */
/* ====================== */

body {
  overflow: hidden;
  &.dev {
    background: url('../img/tmp/fond.jpg') top center no-repeat;
    opacity: 0.5;
  }
}

/* ====================== */
/* parallax */
/* ====================== */

.parallax {
  @include transition(all .15s ease-in-out);
}


/* ====================== */
/* sitemap */
/* ====================== */

@import "adapt";
@import "responsive";
@import "print";
